<div class="row">
    <div class="card">
        <div class="card-image empty">
            <span class="card-title">People</span>
            <a href="<%= new_person_path %>" class="btn-floating halfway-fab waves-effect waves-light red">
                <i class="material-icons">add</i>
            </a>
        </div>
        <div class="card-content">
            <table class="centered bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Type</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% @people.each do |person| %>
                        <tr onclick="">
                            <td><%= person.full_name %></td>
                            <td><%= person.email %></td>
                            <td><%= person.user_type %></td>
                            <td>
                                <%= link_to 'Show', person_path(person), :class => "btn" %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
