<div class="row">
  <div class="col s12">
    <div class="card">
      <%= form_for @task do |form| %>
        <div class="card-content">
          <span class="card-title">Task</span>
          <div class="row">
              <% if @task.errors.any? %>
                  <div id="error_explanation">
                      <h2>
                          <%= pluralize(@task.errors.count, "error") %> errors:
                      </h2>
                      <ul>
                          <% @task.errors.full_messages.each do |msg| %>
                              <li><%= msg %></li>
                          <% end %>
                      </ul>
                  </div>
              <% end %>
              <div class="col s12">
                  <%= form.label :project %>
                  <%= form.hidden_field :project_id %>
                  <div><%= @task.project.title %></div>
              </div>
              <% if @task.parent != nil %>
                <div class="col s12">
                    <%= form.label :parent %>
                    <%= form.hidden_field :parent_id %>
                    <div><%= @task.parent.title %></div>
                </div>
              <% end %>
              <div class="input-field col s12">
                  <%= form.label :title %>
                  <%= form.text_field :title %>
              </div>
              <div class="input-field col s12">
                <%= form.select :role_id, @roles.collect {|role| [ role.title, role.id ]} %>
                <%= form.label :role %>
              </div>
              <div class="input-field col s12">
                <%= form.select :person_id, @people.collect {|person| [ person.full_name, person.id ]}, include_blank: "No One" %>
                <%= form.label :person %>
              </div>
              <div class="input-field col s12">
                  <%= form.label :description %>
                  <%= form.text_area :description, :class => "materialize-textarea" %>
              </div>
            </div>
            <div class="center">
                <button class="waves-effect waves-teal btn" type="submit">Save</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
