<div class="row">
    <div class="col s12 m8">
        <div class="card">
            <div class="card-image empty">
                <div class="card-title">
                    <%= task_checkbox(@task) %>
                    <%= @task.title %>
                </div>
                <a href="<%= edit_task_path(@task) %>" class="btn-floating halfway-fab waves-effect waves-light red">
                    <i class="material-icons">edit</i>
                </a>
            </div>
            <div class="card-action">
                <% if @task.has_permission?(current_person) %>
                    <%= button_to "Delete Task", task_path(@task), class: "btn", method: :delete %>
                <% end %>
                <% if @task.incomplete? %>
                    <%= button_to "Mark Complete", complete_task_path(@task), class: "btn" %>
                <% else %>
                    <%= button_to "Mark Incomplete", uncomplete_task_path(@task), class: "btn" %>
                <% end %>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div class="task-project col s12">
                                <%= link_to @task.project.title, @task.project %>
                            </div>
                            <div class="col s12">
                                <strong>Status:</strong>
                                <%= @task.status %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m6">
                            <strong>Start:</strong>
                            <%= @task.start_date %>
                            </div>
                            <div class="col s12 m6">
                            <strong>End:</strong>
                            <%= @task.end_date %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <strong>Description:</strong>
                                <p class="description">
                                    <%= @task.description %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <%= render "assignee", tasks: @task.subtasks %>
    </div>
    <div class="col s12 m8">
        <%= render "tasks", project: @task.project, tasks: @task.subtasks, parent: @task %>
    </div>
    <div class="col s12 m8">
        <% if @task.can_discuss?(current_person) %>
            <%= render 'task_conversation', conversation: @task.conversation %>
        <% end %>
    </div>
</div>
