<div class="row">
    <div class="col s12">
        <div class="card">
            <%= form_for @project do |form| %>
                <div class="card-content">
                    <span class="card-title">Create a Project</span>
                    <div class="row">
                        <% if @project.errors.any? %>
                            <div id="error_explanation">
                                <h2>
                                    <%= pluralize(@project.errors.count, "error") %> errors:
                                </h2>
                                <ul>
                                    <% @project.errors.full_messages.each do |msg| %>
                                        <li><%= msg %></li>
                                    <% end %>
                                </ul>
                            </div>
                        <% end %>
                        <%= render 'organizer_form', :person => @project.person %>
                        <div class="input-field col s12">
                            <%= form.label :title %>
                            <%= form.text_field :title %>
                        </div>
                        <div class="input-field col s12">
                            <%= form.label :description %>
                            <%= form.text_area :description, :class => "materialize-textarea" %>
                        </div>
                        <div class="input-field col s12">
                            <%= form.select(:state, Project.states.keys.to_a) %>
                            <%= form.label :state %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h6>Roles</h6>
                            <% @project.roles.each.with_index do |role, index| %>
                                <div class="col s4">
                                    <%= form.fields_for :roles, role do |role_form| %>
                                        <%= render "role_form", :form => role_form, :index => index, :role => role %>
                                    <% end %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                    <div class="center">
                        <button class="waves-effect waves-teal btn" type="submit">Save</button>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
