    <div class="card">
        <div class="card-content">
            <span class="card-title">
                Role: <%= role.title %>
            </span>
            <div class="volunteer">
                <%= role.people.length %>
                <% if role.number_of_people != nil %>
                    out of <%= role.number_of_people%>
                <% end %> people assigned
            </div>
            <div class="description">
                <%= role.description %>
            </div>
        </div>
        <div class="card-action">
            <%= link_to "Details", role_path(role), class: "btn" %>
            <% if role.needs_people? %>
                <% if role.can_assign(current_person) %>
                    <%= link_to "Assign", new_person_role_path(role_id: role.id), class: "btn" %>
                <% elsif role.is_interested(current_person) %>
                    <%= button_to "Not Interested", interest_path(role_id: role.id), method: :delete, class: "btn" %>
                <% else %>
                    <%= link_to "Interested?", new_interest_path(role_id: role.id), class: "btn" %>
                <% end %>
            <% end %>
        </div>
    </div>
