<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    <%= @project.title %>
                </span>
                <div class="row">
                    <div class="col s12">
                        <p>
                            <h5>
                                <%= @project.state.upcase %>
                            </h5>
                        </p>
                        <p>
                            <strong>Organizer:</strong>
                            <%= @project.try(:person).try(:full_name) || "No One" %>
                        </p>
                        <p>
                            <strong>Description:</strong>
                            <%= @project.description %>
                        </p>
                    </div>
                </div>
                <a href="<%= edit_project_path(@project) %>" class="btn-floating halfway-fab waves-effect waves-light red">
                    <i class="material-icons">edit</i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <% @project.roles.each do |role| %>
        <%= render "role", :role => role %>
    <% end %>
</div>
