<div class="row">
    <div class="col s12 m8">
        <div class="card">
            <div class="card-image empty">
                <span class="card-title">
                    <%= @project.title %>
                </span>
                <% if @project.has_permission(current_person) %>
                    <a href="<%= edit_project_path(@project) %>" class="btn-floating halfway-fab waves-effect waves-light red">
                        <i class="material-icons">edit</i>
                    </a>
                <% end %>
            </div>
            <div class="card-action">
                <% if @project.has_permission(current_person) %>
                    <%= link_to "Add Task", new_task_path(project_id: @project.id), class: "btn" %>
                    </a>
                <% end %>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col s12">
                        <%= render 'details', project: @project %>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <%= render "tasks", project: @project, tasks: @project.tasks.where(parent_id: nil) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col m4 s12">
        <%= render "roles", roles: @project.roles %>
    </div>
    <div class="col s12 m8">
        <% if @project.can_discuss?(current_person) %>
            <%= render 'project_conversation', conversation: @project.conversation %>
        <% end %>
    </div>
</div>
