<div class="card">
    <div class="card-content">
        <span class="card-title">Interested People</span>
        <% if @role.interests.length > 0 %>
            <ul class="collection">
                <% @role.interests.each do |interest| %>
                        <li class="collection-item">
                            <%= interest.person.full_name %>
                            <%= form_for @role, url: assign_role_path(@role), html: { class: "flat" } do |form| %>
                                <%= form.hidden_field :person_id, value: interest.person.id %>
                                <button class="btn-floating horizontal waves-effect waves-light red" type="submit">
                                    <i class="material-icons">add</i>
                                </button>
                            <% end %>
                            <%= form_for interest, method: :delete, html: { class: "flat" } do |form| %>
                                <%= form.hidden_field :person_id, value: interest.person.id %>
                                <button class="btn-floating horizontal waves-effect waves-light red" type="submit">
                                    <i class="material-icons">cancel</i>
                                </button>
                            <% end %>
                        </li>
                <% end %>
            </ul>
        <% else %>
            <p>No one has expressed interest in this role, yet.</p>
        <% end %>
    </div>
</div>
