<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-image empty">
                <div class="card-title">
                    <%= @role.title %>
                </div>
                <a href="<%= edit_role_path(@role) %>" class="btn-floating halfway-fab waves-effect waves-light red">
                    <i class="material-icons">edit</i>
                </a>
            </div>
            <div class="card-action">
                <% if @role.needs_people? %>
                    <% if @role.is_interested(current_person) %>
                        <%= button_to "I am No Longer Interested", interest_path(role_id: @role.id, person_id: current_person.id), method: :delete, class: "btn" %>
                    <% else %>
                        <%= link_to "I am Interested", new_interest_path(role_id: @role.id), class: "btn" %>
                    <% end %>
                <% end %>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col s12">
                        <div class="role-project">
                            <%= link_to @role.project.title, @role.project %>
                        </div>
                        <p>
                            <%= @role.description %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12">
        <% if @role.project.has_permission(current_person) %>
            <%= render 'role_volunteers', people: @role.people, role: @role %>
        <% end %>
    </div>
    <div class="col s12">
        <% if @role.needs_people? && @role.project.has_permission(current_person) %>
            <%= render 'role_interest', interests: @role.interests.where(verified: true), role: @role %>
        <% end %>
    </div>
    <div class="col s12">
        <% if @role.can_discuss(current_person) %>
            <%= render 'role_conversation', conversation: @role.conversation %>
        <% end %>
    </div>
</div>
